=== READ CAREFULLY ===
<br><br>
this notebook adds info about stations to your weather dataframe
<br>make sure you have the necessary files (a csv-file for the weather, the stations.csv) and the necessary module (station_info.py)
<br>
you can copy the whole code to another .py file to load and combine info in another script

if you add code in this notebook, please save it as a new file BEFORE making any changes/additions

problems? text me > 015788873290

=== READ CAREFULLY ===

In [12]:
# import packages
import pandas as pd
from station_info import addinfo as ai

In [13]:
# load weather and station data
# change the filename if needed. leave the rest

filename = 'descriptive_full'

path = '../data/stations.csv'
in_ger = pd.read_csv(path)
path = '../data/'+filename+'.csv'
weather_df = pd.read_csv(path,parse_dates=[0])
in_ger['id'] = in_ger['id'].astype(str)
in_ger.set_index('id', inplace=True,drop=True)
weather_df['id'] = weather_df['id'].astype(str)

choose the info you want to add
<br>the following options are available:
<br>
<br>name: normally refers to the location
<br>country: is DE in every case (if you left the loading cell untouched)
<br>region: code for the bundesland
<br>identifiers:
<br>location: coordinates (latitude, longitude, elevation)
<br>timezone: will be Berlin everywhere
<br>inventory: equipment used in a station

make sure to keep the format (list with strings)

In [14]:
weather_df

,date,id,temp count,temp mean,temp std,temp min,temp max,dwpt count,dwpt mean,dwpt std,...,pres count,pres mean,pres std,pres min,pres max,tsun count,tsun mean,tsun std,tsun min,tsun max
0,1,10004,1618.0,6.574722,2.162141,-0.8,17.2,1618.0,4.362485,3.075485,...,1618.0,1014.338752,13.900677,978.9,1045.2,0.0,NaN,NaN,NaN,NaN
1,1,10007,1613.0,5.943769,2.404882,-4.0,9.7,1613.0,3.606324,3.055814,...,1613.0,1014.317297,13.556303,979.6,1045.1,1.0,0.000000,NaN,0.0,0.0
2,1,10015,2256.0,5.252970,2.338355,-4.5,9.7,2256.0,2.807447,3.364240,...,2256.0,1012.519725,14.201269,973.2,1045.3,2031.0,3.039882,11.423504,0.0,60.0
3,1,10018,1778.0,4.531834,2.685091,-6.0,9.9,1778.0,2.948706,3.163164,...,1746.0,1012.406357,13.836099,974.0,1043.6,0.0,NaN,NaN,NaN,NaN
4,1,10020,2256.0,4.168972,2.721705,-6.0,10.0,2256.0,2.236037,3.284559,...,2253.0,1011.371815,14.294608,974.0,1043.4,2097.0,3.699571,12.446617,0.0,60.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12959,12,EDWX0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
12960,12,EDXQ0,2232.0,4.789964,2.890549,-4.1,13.1,2232.0,3.219176,3.079389,...,0.0,NaN,NaN,NaN,NaN,2046.0,3.151026,12.142357,0.0,60.0
12961,12,EDXU0,2232.0,4.920654,2.849424,-3.8,12.6,2232.0,3.488754,2.958072,...,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
12962,12,EDXY0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
12963,12,ETED0,2174.0,4.318721,4.078974,-6.7,15.0,2174.0,2.666651,3.906016,...,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN

In [15]:
# choose what info to add
new_info = ['location','region','name']

In [16]:
# call the function to add info
# df_added is the dataframe with weather data and additional info about the station
df_added = ai(weather_df,in_ger,new_info)

In [18]:
# run this cell to save the dataframe with added info
# this cell with append 'addedinfo' to the filename :)
path = '../data/'+filename+'_addedinfo.csv'
df_added.to_csv(path,index=False)