=== READ CAREFULLY ===
<br><br>
this notebook adds info about stations to your weather dataframe
<br>make sure you have the necessary files (a csv-file for the weather, the stations.csv) and the necessary module (station_info.py)
<br>
you can copy the whole code to another .py file to load and combine info in another script

if you add code in this notebook, please save it as a new file BEFORE making any changes/additions

problems? text me > 015788873290

=== READ CAREFULLY ===

In [7]:
# import packages
import pandas as pd
from station_info import addinfo as ai

In [8]:
# load weather and station data
# change the filename if needed. leave the rest

filename = 'short_df'

path = '../data/stations.csv'
in_ger = pd.read_csv(path)
path = '../data/'+filename+'.csv'
weather_df = pd.read_csv(path,parse_dates=[0])
in_ger['id'] = in_ger['id'].astype(str)
in_ger.set_index('id', inplace=True,drop=True)
weather_df['id'] = weather_df['id'].astype(str)

choose the info you want to add
<br>the following options are available:
<br>
<br>name: normally refers to the location
<br>country: is DE in every case (if you left the loading cell untouched)
<br>region: code for the bundesland
<br>identifiers:
<br>location: coordinates (latitude, longitude, elevation)
<br>timezone: will be Berlin everywhere
<br>inventory: equipment used in a station

make sure to keep the format (list with strings)

In [9]:
# choose what info to add
new_info = ['location','region','name']

In [10]:
# call the function to add info
# df_added is the dataframe with weather data and additional info about the station
df_added = ai(weather_df,in_ger,new_info)

In [14]:
df_added

,date,hour,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco,id,location,region,name
0,2019-01-01,0,8.9,7.2,89.0,0.0,NaN,240.0,50.0,57.4,1024.2,NaN,4.0,10004,"(54.1667, 6.35, 0)",HH,UFS TW Ems
1,2019-01-01,1,8.9,7.3,90.0,0.0,NaN,250.0,50.0,61.0,1023.7,NaN,4.0,10004,"(54.1667, 6.35, 0)",HH,UFS TW Ems
2,2019-01-01,2,9.0,7.8,92.0,0.0,NaN,254.0,46.3,59.3,1023.0,NaN,4.0,10004,"(54.1667, 6.35, 0)",HH,UFS TW Ems
3,2019-01-01,3,9.1,7.4,89.0,0.0,NaN,265.0,44.5,59.3,1022.8,NaN,4.0,10004,"(54.1667, 6.35, 0)",HH,UFS TW Ems
4,2019-01-01,4,9.0,6.8,86.0,0.0,NaN,273.0,44.5,61.1,1022.4,NaN,4.0,10004,"(54.1667, 6.35, 0)",HH,UFS TW Ems
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26347,2020-01-01,19,1.6,0.7,94.0,0.0,0.0,210.0,25.9,40.0,1028.6,0.0,4.0,10015,"(54.1833, 7.9, 4)",SH,Helgoland
26348,2020-01-01,20,1.4,0.4,93.0,0.0,0.0,230.0,26.3,39.0,1029.2,0.0,4.0,10015,"(54.1833, 7.9, 4)",SH,Helgoland
26349,2020-01-01,21,2.3,1.7,96.0,0.0,0.0,240.0,24.8,38.0,1028.9,0.0,4.0,10015,"(54.1833, 7.9, 4)",SH,Helgoland
26350,2020-01-01,22,2.4,1.5,94.0,0.0,0.0,240.0,22.7,37.0,1028.1,0.0,4.0,10015,"(54.1833, 7.9, 4)",SH,Helgoland
26351,2020-01-01,23,2.4,1.5,94.0,0.0,0.0,240.0,21.2,35.0,1028.4,0.0,4.0,10015,"(54.1833, 7.9, 4)",SH,Helgoland