=== READ CAREFULLY ===

this notebook adds info about stations to your weather dataframe
make sure you have the necessary files (a csv-file for the weather, the stations.csv) and the necessary module (station_info.py)
you can copy the whole code to another .py file to load and combine info in another script

if you add code in this notebook, please save it as a new file BEFORE making any changes/additions

problems? text me > 015788873290

=== READ CAREFULLY ===

In [1]:
# import packages
import pandas as pd
from station_info import addinfo as ai

In [2]:
# load weather and station data
# change the filename if needed. leave the rest

filename = 'short_df'

path = '../TechLabs Team 2/data/stations.csv'
in_ger = pd.read_csv(path)
path = '../TechLabs Team 2/data/'+filename+'.csv'
weather_df = pd.read_csv(path,parse_dates=[0])
in_ger['id'] = in_ger['id'].astype(str)
in_ger.set_index('id', inplace=True,drop=True)
weather_df['id'] = weather_df['id'].astype(str)

=== CLICK THIS CELL FOR READABILTY ===

choose the info you want to add
th following options are available:

name: normally refers to the location
country: is DE in every case (if you left the loading cell untouched)
region: code for the bundesland
identifiers:
location: coordinates (latitude, longitude, elevation)
timezone: will be Berlin everywhere
inventory: equipment used in a station

make sure to keep the format (list with strings)

In [3]:
# choose what info to add
new_info = ['location','region','name']

In [4]:
# call the function to add info
# df_added is the dataframe with weather data and additional info about the station
df_added = ai(weather_df,in_ger,new_info)

,date,hour,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco,id,location,region,name
0,2018-01-27,1,6.1,4.4,89.0,NaN,NaN,220.0,18.0,NaN,1024.8,NaN,NaN,10004,"(54.1667, 6.35, 0)",HH,UFS TW Ems
1,2018-01-27,2,6.2,4.4,88.0,NaN,NaN,240.0,22.0,NaN,1025.3,NaN,NaN,10004,"(54.1667, 6.35, 0)",HH,UFS TW Ems
2,2018-01-27,3,5.9,4.5,91.0,NaN,NaN,250.0,18.0,NaN,1025.5,NaN,NaN,10004,"(54.1667, 6.35, 0)",HH,UFS TW Ems
3,2018-01-27,4,5.6,4.2,91.0,NaN,NaN,230.0,22.0,NaN,1025.8,NaN,NaN,10004,"(54.1667, 6.35, 0)",HH,UFS TW Ems
4,2018-01-27,5,4.8,3.8,93.0,NaN,NaN,250.0,22.0,NaN,1026.1,NaN,NaN,10004,"(54.1667, 6.35, 0)",HH,UFS TW Ems
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125188,2021-01-01,19,3.0,3.0,100.0,0.0,NaN,140.0,11.2,14.8,1007.0,NaN,7.0,10018,"(54.9167, 8.35, 16)",SH,Westerland / Sylt
125189,2021-01-01,20,3.0,3.0,100.0,0.0,NaN,100.0,11.2,18.5,1007.0,NaN,7.0,10018,"(54.9167, 8.35, 16)",SH,Westerland / Sylt
125190,2021-01-01,21,3.0,3.0,100.0,0.0,NaN,100.0,11.2,20.4,1007.0,NaN,4.0,10018,"(54.9167, 8.35, 16)",SH,Westerland / Sylt
125191,2021-01-01,22,3.0,3.0,100.0,0.0,NaN,90.0,14.8,22.2,1008.0,NaN,5.0,10018,"(54.9167, 8.35, 16)",SH,Westerland / Sylt
125192,2021-01-01,23,3.0,3.0,100.0,0.0,NaN,80.0,13.0,20.4,1008.0,NaN,5.0,10018,"(54.9167, 8.35, 16)",SH,Westerland / Sylt